<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.editor.dao.CollectionBeanMapper">
  <resultMap id="BaseResultMap" type="com.xiaomi.editor.bean.CollectionBean">
    <constructor>
      <idArg column="collection_id" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="collection_type" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="collection_content_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>

</mapper>