<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.editor.dao.StudioBeanMapper">
    <resultMap id="BaseResultMap" type="com.xiaomi.editor.bean.StudioBean">
        <constructor>
            <idArg column="studio_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="studio_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="studio_name_pin" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="studio_pic" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="studio_money" javaType="java.lang.Float" jdbcType="REAL"/>
            <arg column="studio_phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="studio_monthly_sales" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="studio_QQ" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="studio_briefIntroduction" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="studio_collection_nmuber" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="studio_del" javaType="java.lang.Short" jdbcType="INTEGER"/>
            <arg column="system_userid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>


    <!--添加工作室-->
    <insert id="addStudio" keyProperty="studioId" useGeneratedKeys="true"
            parameterType="com.xiaomi.editor.bean.StudioBean">
    INSERT INTO studio(studio_name, studio_name_pin,studio_pic, studio_money, studio_phone, studio_monthly_sales, studio_QQ,
     studio_briefIntroduction, studio_collection_nmuber, studio_del, system_userid)
    VALUE (#{studioName},#{studioNamePin} ,#{studioPic},#{studioMoney},#{studioPhone},#{studioMonthlySales},#{studioQq},
    #{studioBriefintroduction},#{studioCollectionNmuber},#{studioDel},#{systemUserid})
  </insert>

    <!--删除工作室(修改状态)-->
    <update id="updateDelState" parameterType="java.lang.Integer">
    UPDATE studio SET studio_del =1 WHERE studio_id=#{_parameter}
  </update>

    <!--通过id查询没有被删掉的-->
    <select id="queryById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM studio WHERE studio_id=#{_parameter} AND studio_del=0;
    </select>


    <select id="queryStudioDeById" parameterType="java.lang.Integer" resultType="Map">
        SELECT studio.studio_collection_nmuber AS studioCollectionNmuber ,
        studio_monthly_sales AS studioMonthlySales,studio_money AS studioMoney,studio_briefIntroduction AS studioBriefintroduction,
        studio_QQ AS studioQq,studio.system_userid AS systemUserid,system.system_user_loginname AS systemUserName,
        studio.studio_name AS studioName,studio.studio_phone AS studioPhone,studio.studio_pic AS studioPic
        FROM studio LEFT JOIN system ON studio.system_userid=system.system_userid WHERE studio_id= #{_parameter} AND studio_del=0;
    </select>

    <!--工作室修改自己工作室的信息-->
    <update id="updateStudio" parameterType="com.xiaomi.editor.bean.StudioBean">
        UPDATE studio SET studio_name=#{studioName} ,studio_name_pin=#{studioNamePin} ,studio_pic=#{studioPic},studio_phone=#{studioPhone},
        studio_QQ=#{studioQq},studio_briefIntroduction=#{studioBriefintroduction}
        WHERE studio_id=#{studioId}
    </update>

    <!--管理员修改工作室信息-->
    <update id="updateStudioByAdmin" parameterType="com.xiaomi.editor.bean.StudioBean">
        UPDATE studio SET studio_name=#{studioName}  ,studio_name_pin=#{studioNamePin},studio_pic=#{studioPic},studio_phone=#{studioPhone},
        studio_QQ=#{studioQq},studio_briefIntroduction=#{studioBriefintroduction},system_userid=#{systemUserid}
        studio_money=#{studioMoney}
        WHERE studio_id=#{studioId}
    </update>

    <!--分页查询-->
    <select id="selectStudioByPageList" parameterType="java.lang.String" resultType="Map">
        SELECT studio_id,studio_name,studio_briefIntroduction,studio_pic,studio_collection_nmuber,
         studio_money, studio_monthly_sales,studio_phone,studio_QQ,system_userid from studio
         WHERE studio_name_pin LIKE '%${_parameter}%' AND  studio_del=0
    </select>


</mapper>